<mat-toolbar color="primary">
    <button mat-stroked-button *ngIf="isAdmin ||isBE ||isBM " (click)="navigateHome()">Home</button>&nbsp;&nbsp;

    <button mat-stroked-button *ngIf="isAdmin ||isBE || isBM" (click)="navigateAbout()">About-us</button>&nbsp;&nbsp;

    <button mat-stroked-button *ngIf="isAdmin ||isBE || isBM"(click)="navigateContact()">Contact-us</button>&nbsp;&nbsp;

    <button mat-stroked-button *ngIf="isAdmin" (click)="navigateProForm()">product form</button>&nbsp;&nbsp;

    <button mat-stroked-button *ngIf="isAdmin" (click)="navigateAdmin()">product-list</button>&nbsp;&nbsp;
    <!-- <button mat-stroked-button *ngIf="isAdmin" (click)="navigateEdit()">edit-product</button>&nbsp;&nbsp; -->

    <button mat-stroked-button *ngIf="isAdmin" (click)="navigateUserForm()">user form</button>&nbsp;&nbsp;
    <button mat-stroked-button *ngIf="isAdmin" (click)="navigateUsers()">Users-list</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button *ngIf="isAdmin" (click)="navigateViewUsers()">view users</button>&nbsp;&nbsp;
    <!-- <button mat-stroked-button *ngIf="isAdmin" (click)="navigateEditView()">edit view</button>&nbsp;&nbsp; -->
    <button mat-stroked-button *ngIf="isAdmin" (click)="navigateContactUs()">contact form</button>&nbsp;&nbsp;
    <button mat-stroked-button *ngIf="isAdmin" (click)="navigateContactList()">contact list</button>&nbsp;&nbsp;




    <!-- <button mat-stroked-button (click)="navigateBranchManager()">add employee</button>&nbsp;&nbsp; -->

    <button mat-stroked-button *ngIf="isBM" (click)="navigateEmpForm()">employee form</button>&nbsp;&nbsp;
     <button mat-stroked-button *ngIf="isBM" (click)="navigateBMET()">Employee-Table</button>&nbsp;&nbsp;
    <!-- <button mat-stroked-button *ngIf="isBM" (click)=" navigateEditEmp()">edit-employee</button>&nbsp;&nbsp; -->


    <button mat-stroked-button  *ngIf="isBE" (click)="navigateBranchEmployee()">user-profile</button>&nbsp;&nbsp;


    <button mat-stroked-button *ngIf="!isLogin" (click)="login()">Login</button>&nbsp;&nbsp;


    <button mat-stroked-button *ngIf="isLogin" (click)="logout()">Logout</button> &nbsp;&nbsp;




</mat-toolbar>

<router-outlet></router-outlet>