
<mat-toolbar color="primary">
    <button mat-stroked-button (click)="navigateHome()">Home</button>&nbsp;&nbsp;
    <button mat-stroked-button (click)="navigateAbout()">About-us</button>&nbsp;&nbsp;
    <button mat-stroked-button (click)="navigateContact()">Contact-us</button>&nbsp;&nbsp; 
    <!-- <button mat-stroked-button (click)="navigateLogin()">Login</button>&nbsp;&nbsp;  -->
    <!-- <button mat-stroked-button routerLink="product">Manage Products</button> -->
    <button mat-stroked-button (click)="navigateAdmin()">Admin</button>&nbsp;&nbsp; 
    <button mat-stroked-button (click)="navigateBranchManager()">Branchmanager</button>&nbsp;&nbsp; 
    <button mat-stroked-button (click)="navigateBranchEmployee()">BranchEmployee</button>&nbsp;&nbsp; 
        <button mat-stroked-button (click)="login()">Login</button>&nbsp;&nbsp; 




   

        
   


    



</mat-toolbar>

<router-outlet></router-outlet>